In [21]:
%pip install pandas openpyxl

Requirement already satisfied: pandas in c:\users\tuan anh\appdata\local\programs\python\python311\lib\site-packages (2.2.3)
Requirement already satisfied: openpyxl in c:\users\tuan anh\appdata\local\programs\python\python311\lib\site-packages (3.1.5)
Requirement already satisfied: numpy>=1.23.2 in c:\users\tuan anh\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.2.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\tuan anh\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\tuan anh\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\tuan anh\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: et-xmlfile in c:\users\tuan anh\appdata\local\programs\python\python311\lib\site-packages (from openpyxl) (2.0.0)
Requirement already satisfied: six>=1.5 in c:\users\tuan anh\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [22]:
import pandas as pd 
gold_pr = pd.read_csv("gia_vang_sjc_last_row.csv")
usdvnd = pd.read_csv('Dữ liệu Lịch sử USD_VND.csv')
vnindex = pd.read_csv('Dữ liệu lịch sử VN Index.csv')
xauusd = pd.read_csv('Dữ liệu lịch sử XAU_USD (2).csv')

In [23]:
xauusd

            Ngày  Lần cuối        Mở       Cao      Thấp   KL % Thay đổi
0     11/07/2025  3,355.91  3,325.63  3,368.89  3,321.37  NaN      0.99%
1     10/07/2025  3,323.07  3,313.70  3,330.47  3,310.23  NaN      0.28%
2     09/07/2025  3,313.72  3,298.73  3,317.05  3,282.80  NaN      0.39%
3     08/07/2025  3,300.70  3,335.99  3,345.94  3,287.17  NaN     -1.05%
4     07/07/2025  3,335.61  3,335.95  3,343.29  3,296.41  NaN      0.20%
...          ...       ...       ...       ...       ...  ...        ...
1434  07/01/2020  1,573.99  1,565.93  1,577.38  1,555.10  NaN      0.51%
1435  06/01/2020  1,565.96  1,560.59  1,582.69  1,560.59  NaN      0.92%
1436  03/01/2020  1,551.65  1,529.11  1,553.45  1,527.95  NaN      1.49%
1437  02/01/2020  1,528.94  1,517.13  1,531.30  1,517.09  NaN      0.77%
1438  01/01/2020  1,517.30  1,517.26  1,517.48  1,517.20  NaN     -0.01%

[1439 rows x 7 columns]

In [24]:
xauusd['Ngày'] = pd.to_datetime(xauusd['Ngày'], errors='coerce')

In [25]:
xauusd

           Ngày  Lần cuối        Mở       Cao      Thấp   KL % Thay đổi
0    2025-11-07  3,355.91  3,325.63  3,368.89  3,321.37  NaN      0.99%
1    2025-10-07  3,323.07  3,313.70  3,330.47  3,310.23  NaN      0.28%
2    2025-09-07  3,313.72  3,298.73  3,317.05  3,282.80  NaN      0.39%
3    2025-08-07  3,300.70  3,335.99  3,345.94  3,287.17  NaN     -1.05%
4    2025-07-07  3,335.61  3,335.95  3,343.29  3,296.41  NaN      0.20%
...         ...       ...       ...       ...       ...  ...        ...
1434 2020-07-01  1,573.99  1,565.93  1,577.38  1,555.10  NaN      0.51%
1435 2020-06-01  1,565.96  1,560.59  1,582.69  1,560.59  NaN      0.92%
1436 2020-03-01  1,551.65  1,529.11  1,553.45  1,527.95  NaN      1.49%
1437 2020-02-01  1,528.94  1,517.13  1,531.30  1,517.09  NaN      0.77%
1438 2020-01-01  1,517.30  1,517.26  1,517.48  1,517.20  NaN     -0.01%

[1439 rows x 7 columns]

In [26]:
xauusd.drop(columns=['Mở', 'Cao', 'Thấp', 'KL'], inplace=True)
xauusd['Ngày'] = pd.to_datetime(xauusd['Ngày'], format='%d/%m/%Y', errors='coerce')
xauusd['Lần cuối'] = xauusd['Lần cuối'].str.replace(',', '').astype(float)
xauusd['% Thay đổi'] = (
    xauusd['% Thay đổi']
    .astype(str)                        # đảm bảo là chuỗi
    .str.replace('%', '', regex=False) # xoá ký hiệu %
    .str.strip()                        # xoá khoảng trắng
    .replace('', pd.NA)                 # nếu chuỗi rỗng → NaN
    .astype(float)                      # ép kiểu float
)

In [27]:
xauusd

           Ngày  Lần cuối  % Thay đổi
0    2025-11-07   3355.91        0.99
1    2025-10-07   3323.07        0.28
2    2025-09-07   3313.72        0.39
3    2025-08-07   3300.70       -1.05
4    2025-07-07   3335.61        0.20
...         ...       ...         ...
1434 2020-07-01   1573.99        0.51
1435 2020-06-01   1565.96        0.92
1436 2020-03-01   1551.65        1.49
1437 2020-02-01   1528.94        0.77
1438 2020-01-01   1517.30       -0.01

[1439 rows x 3 columns]

In [28]:
gold_pr

           Ngày  Mua vào  Bán ra
0      1/2/2020    42.30   42.75
1      1/3/2020    42.48   42.83
2      1/4/2020    42.80   43.15
3      1/6/2020    43.65   44.10
4      1/7/2020    43.68   44.13
...         ...      ...     ...
1585  6/30/2025   117.50  119.50
1586   7/1/2025   118.30  120.30
1587   7/2/2025   118.70  120.70
1588   7/3/2025   118.90  120.90
1589   7/4/2025   118.90  120.90

[1590 rows x 3 columns]

In [29]:
gold_pr['Ngày'] = pd.to_datetime(gold_pr['Ngày'], errors='coerce')

In [30]:
gold_pr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1590 entries, 0 to 1589
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Ngày     1590 non-null   datetime64[ns]
 1   Mua vào  1590 non-null   float64
 2   Bán ra   1590 non-null   float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 37.4 KB

In [31]:
usdvnd.drop(columns=['KL', 'Mở', 'Cao', 'Thấp'], inplace=True)
usdvnd['Ngày'] = pd.to_datetime(usdvnd['Ngày'], format='%d/%m/%Y', errors='coerce')
usdvnd['Lần cuối'] = usdvnd['Lần cuối'].str.replace(',', '').astype(float)
usdvnd['% Thay đổi'] = (
    usdvnd['% Thay đổi']
    .astype(str)                        # đảm bảo là chuỗi
    .str.replace('%', '', regex=False) # xoá ký hiệu %
    .str.strip()                        # xoá khoảng trắng
    .replace('', pd.NA)                 # nếu chuỗi rỗng → NaN
    .astype(float)                      # ép kiểu float
)

In [32]:
usdvnd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1439 entries, 0 to 1438
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Ngày        1439 non-null   datetime64[ns]
 1   Lần cuối    1439 non-null   float64
 2   % Thay đổi  1439 non-null   float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 33.9 KB

In [33]:
vnindex

            Ngày  Lần cuối        Mở       Cao      Thấp       KL % Thay đổi
0     09/07/2025  1,431.32  1,415.46  1,432.29  1,415.46    1.43B      1.12%
1     08/07/2025  1,415.46  1,402.06  1,415.65  1,400.79    1.17B      0.96%
2     07/07/2025  1,402.06  1,386.97  1,402.32  1,386.97    1.23B      1.09%
3     04/07/2025  1,386.97  1,381.96  1,388.04  1,379.40  834.92M      0.36%
4     03/07/2025  1,381.96  1,384.59  1,392.39  1,377.06    1.32B     -0.19%
...          ...       ...       ...       ...       ...      ...        ...
1371  08/01/2020    948.98    954.13    955.84    945.28  319.17K     -1.03%
1372  07/01/2020    958.88    955.79    959.46    953.19  181.63K      0.32%
1373  06/01/2020    955.79    962.79    963.20    955.59  187.20K     -0.97%
1374  03/01/2020    965.14    968.72    970.88    965.14  174.13K     -0.16%
1375  02/01/2020    966.67    960.26    966.67    959.67  200.60K      0.59%

[1376 rows x 7 columns]

In [34]:
vnindex.drop(columns=['KL', 'Mở', 'Cao', 'Thấp'], inplace=True)
vnindex['Ngày'] = pd.to_datetime(vnindex['Ngày'], format='%d/%m/%Y', errors='coerce')
vnindex['Lần cuối'] = vnindex['Lần cuối'].str.replace(',', '').astype(float)
vnindex['% Thay đổi'] = (
    vnindex['% Thay đổi']
    .astype(str)                        # đảm bảo là chuỗi
    .str.replace('%', '', regex=False) # xoá ký hiệu %
    .str.strip()                        # xoá khoảng trắng
    .replace('', pd.NA)                 # nếu chuỗi rỗng → NaN
    .astype(float)                      # ép kiểu float
)

In [35]:
vnindex.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1376 entries, 0 to 1375
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Ngày        1376 non-null   datetime64[ns]
 1   Lần cuối    1376 non-null   float64
 2   % Thay đổi  1376 non-null   float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 32.4 KB

In [36]:
vnindex.tail(10)

           Ngày  Lần cuối  % Thay đổi
1366 2020-01-15    967.56        0.06
1367 2020-01-14    967.00        0.12
1368 2020-01-13    965.84       -0.28
1369 2020-01-10    968.54        0.87
1370 2020-01-09    960.15        1.18
1371 2020-01-08    948.98       -1.03
1372 2020-01-07    958.88        0.32
1373 2020-01-06    955.79       -0.97
1374 2020-01-03    965.14       -0.16
1375 2020-01-02    966.67        0.59

# TSSL

In [ ]:
# 1. Day Parse 
vnindex ['Ngày'] = pd.to_datetime(vnindex['Ngày'], format='%Y-%m-%d')
gold_pr ['Ngày'] = pd.to_datetime(gold_pr ['Ngày'], format='%m/%d/%Y')
usdvnd  ['Ngày'] = pd.to_datetime(usdvnd  ['Ngày'], format='%Y-%m-%d')

# 2. Change ColumnName
vn2 = (
    vnindex
    .rename(columns={'Lần cuối':'vnindex'})
    .set_index('Ngày')
)
gp2 = (
    gold_pr
    .rename(columns={'Bán ra':'Giá Vàng'})
    .set_index('Ngày')
)
usd2 = (
    usdvnd
    .rename(columns={'Lần cuối':'usdvnd'})
    .set_index('Ngày')
)

# 3. Concat 
df_all = pd.concat([vn2, gp2, usd2], axis=1, join='inner').reset_index()
df_all = df_all.drop(columns=['% Thay đổi', 'Mua vào'])


# 4. Filter for Month-End
df_all['Ngày'] = pd.to_datetime(df_all['Ngày'])

ym = df_all['Ngày'].dt.to_period('M')
idx = df_all.groupby(ym)['Ngày'].idxmax()
df_max_per_month = df_all.loc[idx].reset_index(drop=True)

df_max_per_month.to_csv('finnal.csv', index=False)

In [ ]:
# Đảm bảo cột 'Ngày' là kiểu datetime
df_all['Ngày'] = pd.to_datetime(df_all['Ngày'], errors='coerce')

# Tạo cột 'Quý' và 'Năm' từ cột 'Ngày'
df_all['Quý'] = df_all['Ngày'].dt.to_period('Q')

# Lấy ngày lớn nhất trong mỗi quý
df_max_per_quarter = df_all.loc[df_all.groupby('Quý')['Ngày'].idxmax()].reset_index(drop=True)

# (Tùy chọn) Sắp xếp theo ngày tăng dần
df_max_per_quarter = df_max_per_quarter.sort_values(by='Ngày').reset_index(drop=True)

,Ngày,vnindex,Giá Vàng,usdvnd,vnindex_pct,Giá Vàng_pct,usdvnd_pct
0,2020-01-31,936.62,44.55,23222.0,0.000000,0.000000,0.000000
1,2020-02-28,882.19,46.60,23240.0,-0.058113,0.046016,0.000775
2,2020-03-31,662.53,48.30,23616.0,-0.292637,0.084175,0.016967
3,2020-04-29,769.11,48.65,23428.0,-0.178845,0.092031,0.008871
4,2020-05-29,864.47,48.77,23280.0,-0.077032,0.094725,0.002498
...,...,...,...,...,...,...,...
62,2025-03-31,1306.86,100.70,25565.0,0.395294,1.260382,0.100896
63,2025-04-29,1226.30,120.80,26005.0,0.309282,1.711560,0.119843
64,2025-05-30,1332.60,119.00,26021.5,0.422776,1.671156,0.120554
65,2025-06-30,1376.07,119.50,26120.5,0.469187,1.682379,0.124817
66,2025-07-04,1386.97,120.90,26180.0,0.480825,1.713805,0.127379

In [60]:
# Giả sử df_pct đã bao gồm các cột:
# ['Ngày','vnindex','Giá Vàng','usdvnd','vnindex_pct','Giá Vàng_pct','usdvnd_pct']

# 1. Xóa cột gốc
df_pct = df_pct.drop(columns=['vnindex', 'Giá Vàng', 'usdvnd'])

# 2. (Tuỳ chọn) Chỉ giữ lại Ngày và các cột % nếu bạn muốn
df_pct = df_pct[['Ngày', 'vnindex_pct', 'Giá Vàng_pct', 'usdvnd_pct']]

df_pct.head()

        Ngày  vnindex_pct  Giá Vàng_pct  usdvnd_pct
0 2020-01-31     0.000000      0.000000    0.000000
1 2020-02-28    -0.058113      0.046016    0.000775
2 2020-03-31    -0.292637      0.084175    0.016967
3 2020-04-29    -0.178845      0.092031    0.008871
4 2020-05-29    -0.077032      0.094725    0.002498

In [61]:
# Giả sử bạn có df_pct với các cột ['Ngày','vnindex_pct','Giá Vàng_pct','usdvnd_pct']
cols = ['vnindex_pct', 'Giá Vàng_pct', 'usdvnd_pct']

# Chuyển phần trăm thành chỉ số sinh lời trên vốn 100
for col in cols:
    # Nếu các cột đã là thập phân (0.05 = 5 %), thì dùng:
    df_pct[col] = 100 * (1 + df_pct[col])

# Xem kết quả
df_pct

         Ngày  vnindex_pct  Giá Vàng_pct  usdvnd_pct
0  2020-01-31   100.000000    100.000000  100.000000
1  2020-02-28    94.188678    104.601571  100.077513
2  2020-03-31    70.736264    108.417508  101.696667
3  2020-04-29    82.115479    109.203143  100.887090
4  2020-05-29    92.296769    109.472503  100.249763
..        ...          ...           ...         ...
62 2025-03-31   139.529372    226.038159  110.089570
63 2025-04-29   130.928231    271.156004  111.984325
64 2025-05-30   142.277551    267.115600  112.055379
65 2025-06-30   146.918708    268.237935  112.481698
66 2025-07-04   148.082467    271.380471  112.737921

[67 rows x 4 columns]

In [62]:
# Giả sử df_all đã có cột 'Ngày' kiểu datetime
df_pct['Tháng'] = df_pct['Ngày'].dt.to_period('M').astype(str)

# Nếu bạn muốn ghi đè luôn lên cột 'Ngày':
df_pct['Ngày'] = df_pct['Ngày'].dt.to_period('M').astype(str)

df_pct

       Ngày  vnindex_pct  Giá Vàng_pct  usdvnd_pct    Tháng
0   2020-01   100.000000    100.000000  100.000000  2020-01
1   2020-02    94.188678    104.601571  100.077513  2020-02
2   2020-03    70.736264    108.417508  101.696667  2020-03
3   2020-04    82.115479    109.203143  100.887090  2020-04
4   2020-05    92.296769    109.472503  100.249763  2020-05
..      ...          ...           ...         ...      ...
62  2025-03   139.529372    226.038159  110.089570  2025-03
63  2025-04   130.928231    271.156004  111.984325  2025-04
64  2025-05   142.277551    267.115600  112.055379  2025-05
65  2025-06   146.918708    268.237935  112.481698  2025-06
66  2025-07   148.082467    271.380471  112.737921  2025-07

[67 rows x 5 columns]

In [63]:
df_pct = df_pct.drop(columns='Tháng')
df_pct

       Ngày  vnindex_pct  Giá Vàng_pct  usdvnd_pct
0   2020-01   100.000000    100.000000  100.000000
1   2020-02    94.188678    104.601571  100.077513
2   2020-03    70.736264    108.417508  101.696667
3   2020-04    82.115479    109.203143  100.887090
4   2020-05    92.296769    109.472503  100.249763
..      ...          ...           ...         ...
62  2025-03   139.529372    226.038159  110.089570
63  2025-04   130.928231    271.156004  111.984325
64  2025-05   142.277551    267.115600  112.055379
65  2025-06   146.918708    268.237935  112.481698
66  2025-07   148.082467    271.380471  112.737921

[67 rows x 4 columns]

In [64]:
df_pct.to_csv('ssl.csv', index=False)